<div class="main-wrapper d-flex flex-column">
  <div style="height: 60%">
    <mgl-map
      [style]="'mapbox://styles/mafahes/ck7ytniby1cm81jlktlfxfuuh'"
      [zoom]="[9]"
      (load)="onMapLoad($event)"
      [center]="[37.622887, 55.753283]"
    >
    </mgl-map>
  </div>
  <div style="height: 40%; overflow-y: auto; max-height: 100%" class="pt-4">
    <div class="container-fluid">
      <div class="row pb-3">
        <div class="col-12 d-flex flex-row align-items-center" style="gap: 20px">
          <span class="title">Бригады на карте</span>
          <button routerLink="/dispatcher/brigade/new">Создать</button>
        </div>
      </div>
    </div>
    <div *ngFor="let i of brigade" [routerLink]="'/dispatcher/brigade/' + i.id" class="item px-3 d-flex flex-row">
      <div class="w-25">
        <span>{{i.name}}</span>
      </div>
      <div class="w-25">
        <span>--</span>
      </div>
      <div class="w-25">
        <span>{{i?.car?.code || ''}}</span>
      </div>
      <div class="w-25">
        <span>--</span>
      </div>
    </div>
  </div>
</div>
