.main-wrapper {
  height: 93vh;
}
button {
  font-family: HumanistRegular, sans-serif;
  color: white;
  border: 0;
  padding: 8px 64px;
  background-color: black;
}

::ng-deep {
  mgl-map {
    height: 100%;
    width: 100%;
  }
}
.title {
  font-size: 24px;
  font-family: HumanistRegular, sans-serif;
}
.item {
  max-height: 100%;
  overflow-y: auto;
  padding: 12px;
  span {
    font-size: 18px;
    font-family: HumanistRegular, sans-serif;
  }
}
.item:hover {
  cursor: pointer;
  background-color: rgba(196, 196, 196, 0.35);
}
