.main-wrapper {
  height: 93vh;
}
button {
  font-family: HumanistRegular, sans-serif;
  color: white;
  border: 0;
  padding: 8px 64px;
  background-color: black;
}
.spaces {
  font-family: HumanistRegular, sans-serif;
  font-size: 18px;
  color: white;
}
.map-icon {
  img {
    margin-top: -5px;
  }
}
.filter-container {
  position: absolute;
  width: 200px;
  background-color: white;
  z-index: 999;
  top: 10px;
  left: 10px;
  padding: 10px;
  .radio-filter {
    display: flex;
    flex-direction: column;
  }
}
::ng-deep {
  .orders-list {
    display: flex;
    flex-direction: column;
    max-height: 100px;
    overflow-y: auto;
    div {
      border-left: 2px solid transparent;
      &:hover {
        background: rgba(196, 196, 196, 0.35);
        border-left: 2px solid #B0B0B0;
      }
      padding: 6px 7px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      span:first-child {
        padding: 0 !important;
      }
      span:last-child {
        &:hover {
          cursor: pointer;
        }
        font-size: 14px;
      }
    }
  }
  .mapboxgl-popup {
    max-width: 270px !important;
    width: 270px;
  }
  mgl-map {
    height: 100%;
    width: 100%;
  }
  .mapboxgl-popup-content {
    padding: 0;
    padding-top: 9px;
  }
  .popup {
    display: flex;
    flex-direction: column;
    gap: 13px;
    .status {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 9px 0;
      width: 170px;
      min-width: 170px;
      background-color: rgba(99, 150, 226, 0.76);
      span {
        text-align: center;
      }
    }
     span {
       padding: 0 10px;
      font-family: HumanistRegular, sans-serif;
      font-size: 18px;
    }
  }
}
.title {
  font-size: 24px;
  font-family: HumanistRegular, sans-serif;
}
.item {
  border-left: 2px solid transparent;
  max-height: 100%;
  overflow-y: auto;
  padding: 12px;
  span {
    font-size: 18px;
    font-family: HumanistRegular, sans-serif;
  }
}
.item:hover {
  cursor: pointer;
  border-left: 2px solid black;
  background-color: rgba(196, 196, 196, 0.35);
}
