<div class="main-wrapper d-flex flex-column">
  <div class="map-container" [class.expanded]="expanded">
    <div class="filter-container">
      <mat-radio-group (change)="onFilterChange($event)" aria-label="Select an option" class="radio-filter">
        <mat-radio-button [value]="null">Все</mat-radio-button>
        <mat-radio-button *ngFor="let i of statuses; let id = index" [value]="id">{{i.label}}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="expand-container" (click)="expand()">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
    <mgl-map
      [style]="'mapbox://styles/mafahes/ck7ytniby1cm81jlktlfxfuuh'"
      [zoom]="[9]"
      (move)="onMapChange($event)"
      (load)="onMapLoad($event)"
      [center]="[37.622887, 55.753283]"
    >
      <ng-container *ngFor="let item of coord">
        <mgl-marker
          #myMarker
          [lngLat]="[item.longitude, item.latitude]"
        >
          <div class="d-flex flex-column map-icon align-items-center">
            <span class="spaces">{{item.space - item.freeSpace}}/{{item.space}}</span>
            <img [src]="'assets/icons/map_icon_' + item.brigade.state + '.svg'" [style.transform]="'rotate(' + (item.heading - bearing) + 'deg)'"/>
          </div>
        </mgl-marker>
        <mgl-popup [marker]="myMarker">
          <div class="popup">
            <span>{{item.brigade.car.code}}</span>
            <span>Бригада №{{item.brigade.id}}</span>
            <span>Активные заявки:</span>
            <div class="orders-list">
              <div *ngFor="let i of item.orders">
                <span>Наряд №{{i.id}}</span>
                <span [routerLink]="'/dispatcher/carts/view/' + i.id">Перейти</span>
              </div>
            </div>
          </div>
        </mgl-popup>
      </ng-container>
    </mgl-map>
  </div>
  <div [class.expanded]="expanded" class="pt-4 table-container">
    <div class="container-fluid">
      <div class="row pb-3">
        <div class="col-12 d-flex flex-row align-items-center" style="gap: 20px">
          <span class="title">Бригады на карте</span>
          <button routerLink="/dispatcher/brigade/new">Создать</button>
        </div>
      </div>
    </div>
    <div *ngFor="let i of brigade" [routerLink]="'/dispatcher/brigade/' + i.id" class="item px-3 d-flex flex-row">
      <div class="w-25">
        <span>Бригада №{{i.id}}</span>
      </div>
      <div class="w-25">
        <span>Санитар: {{i?.drivers | brigadeTableHelper: 'drivers'}}</span>
      </div>
      <div class="w-25">
        <span>{{i?.car?.code || ''}}</span>
      </div>
      <div class="w-25">
        <span>{{i?.state | brigadeTableHelper: 'status'}}</span>
      </div>
    </div>
  </div>
</div>
