<div class="main-wrapper d-flex flex-column">
  <div style="height: 60%">
    <mgl-map
      [style]="'mapbox://styles/mafahes/ck7ytniby1cm81jlktlfxfuuh'"
      [zoom]="[9]"
      [center]="[-74.5, 40]"
    >
    </mgl-map>
  </div>
  <div style="height: 40%; overflow-y: auto; max-height: 100%" class="pt-4">
    <div class="container-fluid">
      <div class="row pb-3">
        <div class="col-12">
          <span class="title">Бригады на карте</span>
        </div>
      </div>
    </div>
    <div *ngFor="let i of [1, 1, 1, 1, 1, 1, 2, 3, 4, 5]" class="item px-3 d-flex flex-row">
      <div class="w-25">
        <span>Бригада #1</span>
      </div>
      <div class="w-25">
        <span>Санитар: Сидоров В.В.</span>
      </div>
      <div class="w-25">
        <span>У123МР</span>
      </div>
      <div class="w-25">
        <span>свободная бригада #1</span>
      </div>
    </div>
  </div>
</div>
