<div class="container-fluid">
  <div class="row mt-5" *ngIf="!!order">
    <div class="col-12 col-lg-6 d-flex flex-column" style="gap: 30px">
      <div class="control" routerLink="/dispatcher/carts">
        <svg-icon src="assets/icons/return.svg" [svgStyle]="{ 'width.px':7, 'height.px': 15 }"></svg-icon>
        <span>назад</span>
      </div>
      <span class="title">Редактирование заявки №1</span>
      <div class="d-flex flex-row label-row">
        <span class="label">Время создания:</span>
        <span class="label">{{order.dateAdd | date: 'dd.MM.yyyy HH:mm'}}</span>
      </div>
      <div class="d-flex flex-row label-row">
        <span class="label">Передача наряда:</span>
        <span class="label">-</span>
      </div>
      <span class="label">Состав бригады:</span>
      <div class="input-control">
        <span>Санитар</span>
        <input readonly [(ngModel)]="sanitarField" placeholder="ФИО"/>
      </div>
      <div class="input-control">
        <span>Водитель</span>
        <input readonly [(ngModel)]="driverField" placeholder="ФИО"/>
      </div>
      <div class="input-control">
        <span>Номер автомобиля</span>
        <input readonly [(ngModel)]="order.brigade.car.code" placeholder="ФИО"/>
      </div>
      <div class="d-flex flex-row label-row">
        <span class="label">Принятие наряда:</span>
        <span class="label">{{((order.history | brigadeTableHelper: 'findByState2') || '') | date: 'dd.MM.yyyy HH:mm'}}</span>
      </div>
      <div class="d-flex flex-row label-row">
        <span class="label">Прибытие к месту вызова:</span>
        <span class="label">{{((order.history | brigadeTableHelper: 'findByState3') || '') | date: 'dd.MM.yyyy HH:mm'}}</span>
      </div>
      <div class="d-flex flex-row label-row">
        <span class="label">Окончание загрузки тела в автомобиль:</span>
        <span class="label">{{((order.history | brigadeTableHelper: 'findByState4') || '') | date: 'dd.MM.yyyy HH:mm'}}</span>
      </div>
      <div class="buttons-row">
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="history-card">
        <span class="h-label">История изменений</span>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let i of order.history">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="panel-title">{{i.description}}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="history-label">{{i.dateAdd | date: 'dd.MM.yyyy в HH:mm'}}</p>
            <p class="history-label" *ngIf="i.diff.hasOwnProperty('state')">Статус изменен на: {{i.diff.state | brigadeTableHelper: 'order'}}</p>
            <p class="history-label" *ngIf="i.diff.hasOwnProperty('brigadeId')">Изменена бригада</p>
            <p class="history-label" *ngIf="i.diff.hasOwnProperty('firstName')">Изменено Имя: {{i.diff.firstName}}</p>
            <p class="history-label" *ngIf="i.diff.hasOwnProperty('secondName')">Изменена Фамилия: {{i.diff.secondName}}</p>
            <p class="history-label" *ngIf="i.diff.hasOwnProperty('patronymic')">Изменено Отчество: {{i.diff.patronymic}}</p>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
  <div class="row mt-2" *ngIf="!!order">
    <div class="col-2">
      <button class="btn-1" (click)="onDelete()">Удалить</button>
    </div>
    <div class="col-2">
      <button class="btn-2">Сохранить</button>
    </div>
  </div>
</div>
