<div class="container-fluid">
  <div class="row mt-5" *ngIf="!!order">
    <div class="col-12 col-lg-6 d-flex flex-column" style="gap: 30px">
      <div class="control" routerLink="/dispatcher/carts">
        <svg-icon src="assets/icons/return.svg" [svgStyle]="{ 'width.px':7, 'height.px': 15 }"></svg-icon>
        <span>назад</span>
      </div>
      <span class="title">Редактирование заявки №{{order.id || '-'}}</span>
      <div class="d-flex flex-row label-row">
        <span class="label">Адрес прибытия:</span>
        <span class="label">{{order.address || 'Не указан'}}</span>
      </div>
      <div class="d-flex flex-row label-row">
        <span class="label">Время создания:</span>
        <span class="label">{{order.dateAdd | date: 'dd.MM.yyyy HH:mm':'+0000'}}</span>
      </div>
      <div class="d-flex flex-column form">
        <div class="d-flex flex-row label-row">
          <span class="label">Номер сопроводительного листа</span>
          <span class="label">{{order.formNumber || '-'}}</span>
        </div>
        <div class="d-flex flex-row label-row">
          <span class="label">Должность:</span>
          <span class="label">{{order.formPosition || '-'}}</span>
        </div>
        <div class="d-flex flex-row label-row">
          <span class="label">ФИО:</span>
          <span class="label">{{order.formInitial || '-'}}</span>
        </div>
      </div>
      <div class="d-flex flex-row label-row" *ngIf="!!order.cause">
        <span class="label">Причина отказа:</span>
        <span class="label">{{order.cause}}</span>
      </div>
      <div class="d-flex flex-row label-row">
        <span class="label">Комментарий от бригады:</span>
        <span class="label">{{order.comment || '-'}}</span>
      </div>
      <div class="d-flex flex-row label-row">
        <span class="label">{{calc}}</span>
      </div>
      <div class="d-flex flex-row label-row">
        <span class="label">Адрес морга:</span>
        <span class="label">{{order.addressMorgue || 'Не указан'}}</span>
      </div>
      <span class="label">Выберите бригаду:</span>
      <ng-select (change)="onBrigadeChange($event)" [items]="brigades" [(ngModel)]="selectedBrigade" placeholder="Выберите бригаду" bindValue="id" bindLabel="name"></ng-select>
      <span class="label">Статус заявки:</span>
      <ng-select [items]="orderStatuses" [(ngModel)]="order.state" placeholder="Выберите бригаду" bindValue="i" bindLabel="v"></ng-select>
      <div class="input-control">
        <span>Санитар</span>
        <input readonly [(ngModel)]="sanitarField" placeholder="ФИО"/>
      </div>
      <div class="input-control">
        <span>Водитель</span>
        <input readonly [(ngModel)]="driverField" placeholder="ФИО"/>
      </div>
      <div class="input-control">
        <span>Номер автомобиля</span>
        <input readonly [(ngModel)]="carPlade" placeholder="ФИО"/>
      </div>
      <div class="d-flex flex-row label-row">
        <span class="label">Принятие наряда:</span>
        <span class="label">{{((order.history | brigadeTableHelper: 'findByState2') || '') | date: 'dd.MM.yyyy HH:mm':'+0000'}}</span>
      </div>
      <div class="d-flex flex-row label-row">
        <span class="label">Прибытие к месту вызова:</span>
        <span class="label">{{((order.history | brigadeTableHelper: 'findByState3') || '') | date: 'dd.MM.yyyy HH:mm':'+0000'}}</span>
      </div>
      <div class="d-flex flex-row label-row">
        <span class="label">Окончание загрузки тела в автомобиль:</span>
        <span class="label">{{((order.history | brigadeTableHelper: 'findByState4') || '') | date: 'dd.MM.yyyy HH:mm':'+0000'}}</span>
      </div>
      <div class="buttons-row">
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="history-card">
        <span class="h-label">История изменений</span>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let i of order.history">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="panel-title">{{i.description}}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="history-label">{{i.dateAdd | date: 'dd.MM.yyyy в HH:mm':'+0000'}}</p>
            <p class="history-label" *ngIf="i.diff.hasOwnProperty('state')">Статус изменен на: {{i.diff.state | brigadeTableHelper: 'order'}}</p>
            <p class="history-label" *ngIf="i.diff.hasOwnProperty('brigadeId')">Изменена бригада</p>
            <p class="history-label" *ngIf="i.diff.hasOwnProperty('firstName')">Изменено Имя: {{i.diff.firstName}}</p>
            <p class="history-label" *ngIf="i.diff.hasOwnProperty('secondName')">Изменена Фамилия: {{i.diff.secondName}}</p>
            <p class="history-label" *ngIf="i.diff.hasOwnProperty('patronymic')">Изменено Отчество: {{i.diff.patronymic}}</p>
            <p class="history-label" *ngIf="i.diff.hasOwnProperty('comment')">Прошлый комментарий: {{i.diff.comment}}</p>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
  <div class="row mt-2" *ngIf="!!order">
    <div class="col-2">
      <button class="btn-1" (click)="onDelete()">Удалить</button>
    </div>
    <div class="col-2">
      <button class="btn-2" (click)="onSave()">Сохранить</button>
    </div>
  </div>
</div>
