button {
  font-family: HumanistRegular, sans-serif;
  color: white;
  border: 0;
  padding: 8px 64px;
  background-color: black;
}
input {
  border-radius: 0 !important;
  border: 1px solid black;
  padding: 12px !important;
  font-family: HumanistRegular, sans-serif !important;
  font-size: 24px !important;
  outline: transparent !important;
}
span {
  font-family: HumanistRegular, sans-serif;
}
