.title {
  font-size: 24px;
  font-family: HumanistRegular, sans-serif;
  color: black;
}
button {
  background-color: black;
  border: 0;
  border-radius: 0;
  color: white;
  font-size: 24px;
  font-family: HumanistRegular, sans-serif;
  padding: 15px 70px;
}
input {
  background-color: white;
}
.error {
  color: red;
}
