<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-12 d-flex flex-row align-items-center justify-content-between">
      <span class="title">Заявки</span>
      <button class="new-cart" routerLink="add">Новая заявка</button>
    </div>
  </div>
<!--  <div class="row my-3">-->
<!--    <div class="col-7">-->
<!--      <input placeholder="Поиск" class="search-input"/>-->
<!--    </div>-->
<!--  </div>-->
  <div class="row my-3">
    <div class="col-12">
      <div class="d-none">
        <div *ngFor="let i of pages | paginate: { itemsPerPage: 1, currentPage: currentPage}"></div>
      </div>
      <ng2-smart-table [source]="source" [settings]="settings"></ng2-smart-table>
      <div class="my-3"></div>
      <pagination-controls [nextLabel]="'Далее'" [previousLabel]="'Назад'" (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
  </div>
</div>
