@import "~@ng-select/ng-select/themes/default.theme.css";
/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.none-hover, .none-hover * {
  cursor: none;
}
@font-face {
  font-family: Open-SansRegular;
  src: url(assets/fonts/OpenSans-Regular.ttf) ;
}
@font-face {
  font-family: Open-SansBold;
  src: url(assets/fonts/OpenSans-Bold.ttf) ;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@font-face {
  font-family: HumanistBold;
  src: url(assets/fonts/Humanist_521_Bold.otf);
}
@font-face {
  font-family: HumanistRegular;
  src: url(assets/fonts/Humanist_521_Regular.otf);
}
@font-face {
  font-family: HumanistLight;
  src: url(assets/fonts/Humanist_521_Light.otf);
}
* {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-button {
    width: 3px;
    height: 3px;
  }
  ::-webkit-scrollbar-thumb {
    background: #000000;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #453b3b;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #000000;
  }
  ::-webkit-scrollbar-track {
    background: #c2c2c2;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #c2c2c2;
  }
  ::-webkit-scrollbar-track:active {
    background: #c2c2c2;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}
//.card-theme {
//  .card-title {
//    font-family: 'Inter', sans-serif;
//    color: #222b45;
//  }
//  border: .0625rem solid #e4e9f2;
//  border-radius: .25rem;
//  background-color: #fff;
//}
//.card-button-wrapper {
//  cursor: pointer;
//}
.snack-bar-card {
  background: black !important;
  border-radius: 0 !important;
  span {
    font-family: HumanistRegular, sans-serif !important;
    color: white !important;
  }
}
.snack-bar-white-card {
  background: white !important;
  border-radius: 0 !important;
  span {
    font-family: HumanistRegular, sans-serif !important;
    color: black !important;
  }
}
.input-theme {
  padding: .6875rem 1rem;
  border: 1px solid #e4e9f2;
  background-color: #f7f9fc;
  border-radius: .25rem;
  font-family: 'Inter', sans-serif;
}
.hover-pointer:hover {
  cursor: pointer;
}
input, button, textarea {
  outline: transparent;
}
::ng-deep {
  .mat-primary {
    .mat-button-wrapper {
      font-family: 'Inter', sans-serif !important;
    }
  }
}
.dialog-form-title {
  font-family: 'Inter', sans-serif !important;
  color: #222b45;
}
.title-dialog {
  font-family: 'Inter', sans-serif !important;
  color: #222b45;
}
button:disabled {
  background-color: #adadad !important;
}
.light .ng-select .ng-select-container {
  border: 1px solid black !important;
  border-radius: 0;
}
.ng-value-label {

}
.mat-radio-label-content {
  font-size: 18px;
  font-family: HumanistRegular, sans-serif;
  color: black;
}

ng2-smart-table {
  table {
    background-color: #fafafa !important;
  }
}
table-cell-view-mode {
  div {
    font-family: HumanistRegular, sans-serif;
    font-size: 18px;
  }
}
svg-icon:hover {
  cursor: pointer;
}
.input-form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  span {
    color: #787878;
    font-size: 18px;
    font-family: HumanistRegular, sans-serif;
  }
  & > input, select {
    border-radius: 0 !important;
    border: 1px solid black !important;
    padding: 18px !important;
    font-family: HumanistRegular, sans-serif !important;
    font-size: 24px !important;
    outline: transparent !important;
  }
}
.title {
  font-size: 24px;
  font-family: HumanistRegular, sans-serif;
  color: black;
}
mat-toolbar {
  &.dark {
    background: linear-gradient(0.06deg, #26282C 0.35%, #35373B 192.77%) !important;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.72) !important;
  }
  span {
    color: white !important;
  }
}
.ngx-pagination {
  padding: 0;
}
.light {
  .history-label {
    color: black;
  }
  .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: black;
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: black;
  }
}
.dark {
  .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: white;
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: white;
  }
  .mat-radio-label-content {
    color: white !important;
  }
  .mapboxgl-popup-content, .filter-container, .mapboxgl-popup-close-button {
    background-color: #26282C !important;
  }
  .mapboxgl-popup-close-button {
    background-color: #787878 !important;
  }
  .ngx-pagination a:hover, .ngx-pagination button:hover {
    background: #e6e6e638;
  }
  .ngx-pagination a, .ngx-pagination button, .history-label {
    color: white !important;
  }
  .title, .label, .h-label, .panel-title, .control {
    color: white !important;
  }
  input:not([autocapitalize="off"]), .search-input {
    background-color: #2d2f33 !important;
    border: 1px solid #787878 !important;
    color: white;
  }
  .search-input::placeholder {
    color: white;
  }
  .ng-select .ng-select-container {
    border-radius: 0;
    border: 1px solid #787878 !important;
  }
  ng-select > div {
    background-color: #2d2f33 !important;
  }
  .btn-line {
    button {
      color: #26282C !important;
    }
  }
  mat-sidenav, .mat-list-item-content {
    background: linear-gradient(0.06deg, #26282C 0.35%, #35373B 192.77%) !important;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0) !important;
  }
  .mat-sidenav-content {
    background: linear-gradient(0.06deg, #26282C 0.35%, #35373B 192.77%) !important;
  }
  button:not(.exit, .mapboxgl-popup-close-button) {
    background-color: white !important;
    color: black !important;
  }
  app-brigade {
    span {
      color: white;
    }
  }
  app-new-brigade {
    span:not(.ng-value-label) {
      color: #787878 !important;
    }
    .ng-select:not([ng-reflect-multiple="true"]) span.ng-value-label, input {
      color: white;
    }
  }
  ng2-smart-table table {
    table-cell-view-mode {
      color: white !important;
    }
    path {
      fill: white;
    }
    ng2-smart-table-title {
      a {
        color: white !important;
      }
    }
    background-color: #2e3034 !important;
    td {
      border: 1px solid #55575a !important;
    }
    th {
      border-top: 1px solid #55575a !important;
      border-left: 1px solid #55575a !important;
      border-right: 1px solid #55575a !important;
    }
  }
  .ng2-smart-pagination li a {
    background-color: #2e3034 !important;
    border: 1px solid #55575a;
    border-color: #55575a !important;
  }
}
